body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #417D7A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #EDE6DB;
}

.mainTitle {
  background-color: #1A3C40;
 border: 1px solid #2D4263;
}

h3, h4 {
  color: #EDE6DB;
}

h4 {
  text-align: center;
}

.loginItems {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
}

#login {
  width: 230px;
  height: 35px;
 
}

.buttonLogin {
  width: 250px;
  height: 40px;
}

.loadingText {
  text-align: center;
  font-size: large;
}

.headerItems {
  display: flex;
  justify-content: space-around;
  background-color: #1D5C63;
}

.navButtons {
  width: 150px;
  height: 40px;
  margin: 15px;
  border-radius: 5px;
  background-color: #DFD8CA;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1A132F;
}

.searchForm {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.searchButton {
  margin-left: 5px;
  width: 250px;
  height: 40px;
  cursor: pointer;
}

.searchInput {
  width: 230px;
  height: 35px;
}

.allAlbums {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.eachAlbum {
  border: 3px solid #2D4263;
  margin: 10px;
  width: 180px;
  height: 290px;
  background-color: #1D5C63;
}

.centerAlbum {
  text-align: center;
  margin-top: 15px;
}

.centerImage {
  margin-left: 45px;
  margin-top: 40px;
}

.eachSong {
  border: 3px solid #2D4263;
  width: 380px;
  height: 120px;
  margin: 10px;
}

.allSongs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.selectedAlbum {
  display:flex;
  justify-content: center;
}

.albumImage {
  margin-bottom: 25px;
  margin-top: 25px;
  width: 150px;
  height: 150px;
}

.selectedArtist {
  margin-top: 75px;
  margin-left: 50px;
}

.musicName { 
  text-align: center;
  margin: 5px;
}

.previewSong {
  margin-left: 40px;
}

.favoriteInput {
  margin-left: 150px;
  margin-top: 10px;
}

.favoriteSongs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.showProfile {
  display: flex;
  justify-content: center;
  margin: 80px;
}

.editProfileButton {
  width: 150px;
  height: 40px;
  margin: 15px;
  border-radius: 5px;
  background-color: #DFD8CA;
  cursor: pointer;
}

.profileInfos {
  border: 3px solid #2D4263;
  width: 600px;
  height: 400px;
  background-color: #DFD8CA;
}

.eachInfo {
  margin: 20px;
}

.descriptionEdit {
  display: block;
}